@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root{
    --cor1: #F9B766;
    --cor2: #F7931A;
    --cor3: #FFE18F;
    --cor4: #E0A914;
    --cor5: #78480D;
    --cor6: #2c1b07;

    --fonte-padrao: 'Montserrat', sans-serif;
    --fonte-destaque: 'Bebas Neue', cursive;
}

body{
    background-color: wheat;
}

header{
    min-height: 170px;
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor1));
}

header h1{
    color: white;
    font-family: var(--fonte-destaque);
    font-size: 2.9em;
    font-weight: normal;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.281);
    margin-bottom: 10px;
    padding-top: 27px;
    width: 100%;
}

header p{
    color: white;
    font-family: var(--fonte-destaque);
    font-size: 1.5em;
    font-weight: normal;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.199);
    width: 100%;
    padding: 0px 5px;
    margin-bottom: 5px;
}

header nav{
    margin-top: 20px;
}

header nav > a{
    text-decoration: none;
    font-family: var(--fonte-destaque);
    font-weight: normal;
    font-size: 1.2em;
    padding: 10px 20px 11px 20px;
    display: inline-block;
    transition: 0.4s;
    color: black;
}

header nav a:visited{
    color: inherit;
}

header nav a:hover{
    background-color: #FFE18F;
    color: var(--cor2);
    border-radius: 10px 10px 0px 0px;
}

main{
    max-width: 1000px;
    min-width: 420px;
    padding: 20px;
    background-color: white;
    margin: auto;
    font-family: var(--fonte-padrao);
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.171);
    border-radius: 0px 0px 15px 15px;
}

main article h2{
    font-family: var(--fonte-destaque);
    font-size: 2.3em;
    font-weight: normal;
    letter-spacing: 1px;
}

main article p{
    padding-top: 13px;
    padding-bottom: 13px;
    font-weight: 500;
    font-size: 1.07em;
    text-indent: 25px;
    text-align: justify;
    line-height: 32px;
    letter-spacing: 0.4px;
}

main article p a{
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    color: black;
}

main article p a:visited{
    color: inherit;
}

main article p a:hover{
    text-decoration: underline;
    color: var(--cor2);
}

main article p a::after{
    content: '\00A0\1F517';
}

main article p abbr{
    text-decoration: none;
    color: rgb(139, 139, 139);
}

main article img{
    width: 100%;
    max-width: 450px;
    display: block;
    margin: auto;
    border-radius: 20px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.295);
}

main article .espacamentoimg{
    margin-bottom: 25px;
}

main article .espacamentoimgh2{
    margin-top: 30px;
}

main article .centralizarh2{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 25px;
}

div.video{
    background-color: var(--cor3);
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 57.6%;
    position: relative;
}

div.video > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
    border-radius: 20px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.288);
}

main article aside{
    background-color: blanchedalmond;
    border-radius: 10px 10px 10px 10px;
}

main article aside h3{
    text-align: center;
    font-family: var(--fonte-destaque);
    font-size: 2.0em;
    font-weight: normal;
    border-radius: 10px 10px 0px 0px;
    background-color: #794403;
    color: white;
}

main article aside ul{
    list-style-position: inside;
    columns: 2;
    padding-top: 20px;
    padding-left: 22%;
    padding-bottom: 20px;
}

aside ul > li{
    line-height: 35px;
}

aside ul li > a{
    text-decoration: none;
    font-weight: 500;
    cursor: pointer;
    color: black;
}

aside ul li a:visited{
    color: inherit;
}

aside ul li a:hover{
    text-decoration: underline;
    color: var(--cor4);
}

.ultimop{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 25px;
}

form{
    background-color: rgb(255, 224, 178);
    max-width: 500px;
    width: 70%;
    padding: 20px;
    margin: auto;
    border-radius: 15px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.151);
}

form h3{
    text-align: center;
    font-weight: bolder;
    font-size: 1.3em;
    margin-bottom: 10px;
}

form input[type=text],
form input[type=tel]{
    width: 100%;
    height: 45px;
    padding-left: 10px;
    border: 1px solid #ccc;
    margin: 10px 0px;
}

form input[type=submit]{
    width: 100%;
    height: 35px;
    margin-top: 10px;
    font-size: 15px;
    cursor: pointer;
    border-radius: 13px;
    border: 0;
    background-color: #794403ce;
    color: white;
    transition: 0.25s;
}

form input[type=submit]:hover{
    background-color: var(--cor1);
}

footer{
    padding: 6px;
    margin-top: 35px;
    background-color: #f9b76686;
    color: black;
}

footer p{
    text-align: center;
    font-family: var(--fonte-padrao);
    font-size: 14px;
    font-weight: 500;
}

footer p a{
    text-decoration: none;
    cursor: pointer;
    color: black;
}

footer p a:visited{
    color: inherit;
}

footer p a:hover{
    text-decoration: underline;
}
